@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: rgb(207, 207, 206);
    color: rgb(25, 25, 25);
    text-shadow: none;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

/*!sc*/
html {
    box-sizing: border-box;
    height: 100%;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-scroll-padding-top: 128px;
    -moz-scroll-padding-top: 128px;
    -ms-scroll-padding-top: 128px;
    scroll-padding-top: 128px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*!sc*/
@media (min-width: 1024px) {
    html {
        -webkit-scroll-padding-top: 112px;
        -moz-scroll-padding-top: 112px;
        -ms-scroll-padding-top: 112px;
        scroll-padding-top: 112px;
    }
}

/*!sc*/
body {
    background-color: #ffffff;
    color: #191919;
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    min-height: 100%;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*!sc*/
a {
    background: #00000000;
    color: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: baseline;
}

/*!sc*/
strong {
    font-weight: 700;
}

/*!sc*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    text-rendering: optimizeSpeed;
    margin: 0;
}

/*!sc*/
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

/*!sc*/
img[src*="tracking.g2crowd"] {
    position: fixed;
    bottom: 0;
}

/*!sc*/
::-moz-selection {
    background: #cfcfce;
    color: #191919;
    text-shadow: none;
}

/*!sc*/
::selection {
    background: #cfcfce;
    color: #191919;
    text-shadow: none;
}

/*!sc*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
}

/*!sc*/
p {
    margin: 0 0 20px;
}

/*!sc*/
body {
    overflow-x: hidden;
}

/*!sc*/
video {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

/*!sc*/
.tf-v1-popup .tf-v1-iframe-wrapper {
    width: 70% !important;
    max-width: 1333px;
}
